.classes-section{

    width: 100%;
    height: 100vh;
    background-color: green;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
   
}

@font-face{
    font-family: myfont;
    src:url(../font/Rift\ Soft\ Bold.otf);
    font-weight: 600;

}

@keyframes appear {
    
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }

}


.title-classes{

    text-align: center;
    font-family: myfont;
     background:linear-gradient(0deg,#c3f412 20%,#28c83b ,#159524 );
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}