.footer-section {
  background-color: #111;
  color: #ddd;
  padding: 60px 0 20px;
  font-size: 0.95rem;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-in-out;
}
.footer-box{
  display: flex;
  flex-direction: column;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer-box h4,
.footer-box h5 {
  color: #ffffff;
  margin-bottom: 15px;
}

.footer-box p {
  line-height: 1.6;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 8px;
}

.footer-box ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-box ul li a:hover {
  color: #63E6BE;
}

.footer-social a {
  font-size: 1.4rem;
  margin-right: 15px;
  color: #ccc;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #63E6BE;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 0.85rem;
  color: #aaa;
}
.show {
  opacity: 1;
  transform: translateY(0);
}