@font-face {
    font-family: myfont;
    src: url(../font/Rift\ Soft\ Bold.otf);
}

.section-4 .title-section {
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
   
    text-align: center;
    animation: fadeUp 2s ease forwards;
    animation-timeline:view();
    animation-range: entry 5% cover 50%;
}

.section-4{
   margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
   
}

.carousel {
    margin-inline: auto; /* center carousel */
   
}


.review-card{
    
    border-radius: 10px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 400px;
    margin: auto;
    overflow-y:auto;  
    display: flex;
    flex-direction: column;
    
    gap: 1rem;
    text-align: left;
    
    animation: appear-1 ease-in-out;
    animation-timeline:view();
    animation-range: entry 5% cover 40%;
    transition: all 0.5s ease-in-out;
}

.review-card img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
     transition: all 0.3s ease-in-out;

}


.review-card img:hover{

    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
   

}
.review-card:hover{

    transform: translateY(-10px) scale(1.05s);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    
    
}


.review-card-container{
    width: 100%;
    gap: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
}

