@media (max-width:600px) {
    body{
        width: 576px;
    }
.section-1{

    overflow: hidden;
    margin: 0 0;
  

}

.navbar {
    width: 100%;
}


.navbar-toggler{
margin-right: 3rem;
}

.img-box{
    max-width: 400px;
   
    position: relative;
    margin-top: 3rem;
    width: 400px;
    height: 200px;
    background-image:url(../image/ChatGPT\ Image\ Dec\ 22\,\ 2025\,\ 12_01_40\ AM.png) ;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    object-position: center;
    z-index: -1;

    animation: slide-in-elliptic-top-fwd 1s ease-out forwards;


}
.img-box .intro-first-title-1{

    font-size: 17px;
}

.upper-section-2 h4{
    font-family: myfont;
    font-size: 20px;
    margin-bottom: 0.5rem;
   
   
}
.upper-section-2 p{
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 0.5rem;
    padding:0px 5rem;
    
 
}

.section-container{

    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 5rem 2rem;
    position: relative;
   
   
}

.section-2 img{
   
    width: 100%;
    height: auto;   
  
   
   
}

.title-section{
  
    width: 60%;
}

.grid-template-1{

    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
    margin-bottom: 1rem;
}

.grid-template  .feature h4{
    font-family: myfont;
    font-size: 16px;
    letter-spacing: 2px;
}

.grid-template{

    text-align: left;
}


.section-3{

    margin: 5rem 0rem;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    animation: appear linear;
    animation-timeline:view();
    animation-range: entry 10% cover 40%;
    
    
}
.section-container-3{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-section{
   display:flex;
   flex-direction: column;
   margin-top: 4rem;
}

.location-and-ph{
    text-align: left;
    margin: auto auto;

  
}
.location-and-ph h5{
    font-family: myfont;
   
}

/* location ifram */
.map-box iframe{
    width: 250px;
    height: 150px;
    border-radius: 12px;
}


.map-box{
    margin-top: 5rem;
     border-radius: 12px;
      width: 250px;
    height: 150px;
    border: 2px solid rgb(0, 0, 0);
}
/* end */
.location-and-ph .fa-location-crosshairs{
    color: red;
    margin-right: 5px;
   
}


.card{
    display: flex;
    align-items: center;
    width: 200px;
    border-radius: 12px;
    overflow-y: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
     
}

.section-4{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
   
}

.card-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.5rem;
}

.card-content .description {
    color: gray;
    font-size: 12px;
    font-weight: 500;
    margin: 2.5rem;
    height: 100px;
    overflow-x: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ffffff;
}

.card-image {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin: 1rem 1rem;
}

.overlay::before, .overlay::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    
}
 .section-5 {
        margin: 5px;
    }
.Ac_image:nth-child(1){
    width:200px;
    top: -40px;
    left: 30px;
   
}
.Ac_image:nth-child(2){
    
    top: 300px;
    width:150px;
     left: 100px;
    border: 3px green;
  
}

.Ac_image:nth-child(3){
   
    width: 160px;
    left: -300px;
  
    border: 3px green;
}

}

