.section-2{
    padding: 1rem 2rem;
     animation: appear linear;
    animation-timeline:view();    
    animation-range: entry 0% cover 30%;
}

.section-container{
   
    display: grid;
    grid-template-columns: auto 1.5fr 1fr ;
    place-items: center;
    margin: 1rem 2rem;
   
}

.title-section{
  
    width: 60%;
}
.section-2 .title,.section-3 .title,.section-4 .title-section .title{
    display: block;
    font-family: myfont;
    font-size: 50px;
    font-weight: 1000;
    margin-bottom: 1rem;
    text-align: center;
    filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
    -webkit-text-stroke: 1px white;
     background:linear-gradient(0deg,#c3f412 10%,#28c83b ,#159524 );
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
   

}



.section-2 img{
   
    width: 400px;
    height: auto;
 
    animation: fadeUp 2s ease forwards;
}

.grid-template-1{

    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-bottom: 1rem;
}

.grid-template  .feature h4{
    font-family: myfont;
    font-size: 20px;
}

.grid-template{

    text-align: left;
}


/* section-3 */

.section-3{

    margin: 5rem 0rem;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    animation: appear linear;
    animation-timeline:view();
    animation-range: entry 10% cover 40%;
    
    
}
.section-container-3{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-section{
   display:grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 4rem;
}

.location-and-ph{
    text-align: left;
    margin: auto auto;

  
}
.location-and-ph h5{
    font-family: myfont;
   
}

/* location ifram */
.map-box iframe{
    width: 500px;
    height: 300px;
    border-radius: 20px;
}


.map-box{
     border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
}
/* end */
.location-and-ph .fa-location-crosshairs{
    color: red;
    margin-right: 10px;
   
}

/* end */
@keyframes appear {
    
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }

}

@keyframes appear-1 {
    
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
         clip-path: inset(0 0 0 0);

    }

}


